<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/utils.css">
</head>

<body>
    <form action="/create" method="post" class="main">
        <input class=" w-full px-2 py-5 rounded" type="text" placeholder="Your title goes here..." name="title">
        <textarea class="w-full px-2 py-5 rounded" placeholder="Enter your task description..." name="details"></textarea>
        <input class="px-submit py-5 pointer rounded submit" type="submit" value="Create Task">
    </form>
    <div class="tasks">
        <% if(files.length>0){ %>
            <%files.forEach(function(val){%>
                <div class="task px-2 py-5 rounded">
                    <h3><%=val%></h3>
                    <div class="flex center w-full">
                        <a href="/file/<%=val%>">Read More...</a>
                        <a href="/edit/<%=val%>" style="color: rgb(118, 103, 103);">edit</a>
                        <a href="/delete/<%=val%>" style="color: rgb(118, 103, 103);">delete</a>
                    </div>
                </div>
                <%})%>
                    <%} else{%>
                        <h3>No data found...</h3>
                        <%}%>
    </div>
    <script src="javascripts/script.js"></script>
</body>

</html>