<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed Data</title>
    <link rel="stylesheet" href="/stylesheets/show.css">
</head>
<body>
    <a href="/">Return to home...</a>
    <h1><%= fileName %></h1>
    <p><%= fileData %></p>
</body>
</html>